[build]
  command = "npm run build"
  publish = "dist"
  base = "Sanus_FrontEnd"

[build.environment]
  SECRETS_SCAN_ENABLED = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
