.sanus-about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding-bottom: 50px;
    position: relative;
}

.sanus-about-us-container {
    margin-top: -2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 80px;
    z-index: 2;
    position: relative;
}

.sanus-about-us-mission{
    background-color: var(--color-primary-alt);
    padding-top: 40px;
}

.sanus-about-us-mission .sanus-mission{
    background-color: transparent;
}

.sanus-about-us-mission .sanus-mission-grid{
    padding-bottom: 40px;
}

.sanus-about-us-mission .sanus-mission-button{
    display: none;
}

.sanus-about-us-values-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    max-width: 1800px;
    gap: 60px;
}

.sanus-about-us-values-grid-item{
    display: flex;
    flex-direction: column;
}

.sanus-about-us-values-grid-item-value {
  font-family: var(--font-title);
  color: var(--color-primary-dark);
  font-size: 2.5rem;
  text-align: left;
}

.sanus-about-us-values-grid-item-label{
  font-family: var(--font-body);
  color: var(--color-text);
  font-size: 20px;
  text-align: start;
}

.sanus-about-us-container .sanus-general-text{
    max-width: 1000px;
}

.sanus-about-us-container .feedback-comment-list h3{
    display: flex;
    flex-direction: column;
}

.about-story-image {
  width: 600px;
  height: 400px;
  border-radius: 18px;
  background: url("/Clinica/image-sanus-about-us.png") center/cover;
  box-shadow: var(--shadow-card);
}

.sanus-about-us-footer{
    margin-top: -200px;
}

.sanus-about-us-feedback .sanus-mission-wave path {
  fill: var(--color-primary-dark);
  fill-opacity: 1;
}

@media (max-width: 1500px) {
    .feedback-comment {
        font-size: 2rem;
    }
    .sanus-about-us-footer{
        margin-top: -100px;
    }
}

@media (max-width: 990px) {
    .sanus-about-us-values-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .feedback-comment {
        font-size: 1.7rem;
    }
    .sanus-about-us-values-grid-item-value {
        font-size: 2rem;
    }
    .sanus-about-us-values-grid{
        gap: 40px;
    }
    .sanus-about-us-footer{
        margin-top: -50px;
    }
    .sanus-about-us-container{
        padding: 40px 20px;
    }
    .sanus-about-us-cards .sanus-services-card {  
        padding: 30px 20px;
    }
    .sanus-about-us-mission {
        padding-top: 0px;
    }
    .sanus-about-us-mission .sanus-mission-grid {
        padding-bottom: 0px;
    }
}