.sanus-contact-cta {
  width: 100%;
  padding: 40px 24px 140px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary-dark);
  gap: 40px;
  position: relative;
}

.sanus-contact-cta .sanus-general-title{
    color: var(--color-bg);
    z-index: 11;
    font-size: 2rem;
}

.sanus-cta-btn-container{
    z-index: 11;
    width: 100%;
}

.sanus-contact-cta .btn{
    width: 100%;
    max-width: 500px;
}

.sanus-contact-cta .sanus-pattern{
    display: none;
}

@media (max-width: 768px) {
  .sanus-contact-cta {
    padding: 60px 16px;
  }
}