/* =========================
   CINIO TEXT (principal)
   ========================= */

/* Thin 100 */
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Light 300 */
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold 600 */
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy 800 */
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cinio Text";
  src: url("/fonts/cinio/CinioText-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* =========================
   GOTHAM (secundária / UI)
   ========================= */

/* Regular 400 */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham/Gotham%20Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham/Gotham%20Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Black 900 */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham/Gotham%20Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}