.sanus-footer {
    background: #fff;
    position: relative;    
    margin-top: 0px;
    z-index: 1;
}

.sanus-footer .sanus-header-logo{
    height: 50px;
}

.sanus-footer-2{
    background-color: var(--color-header);
    margin-top: -8px;
}   

.sanus-footer-policies{
    padding: 0 40px 40px;
}

.sanus-footer-container {
    justify-content: space-between;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    gap: 60px;
    padding-bottom: 60px;
}

.sanus-footer-columns {
    display: flex;
    gap: 40px;
    align-items: start;
    justify-content: center;
}

.sanus-footer-logo-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sanus-footer-logo-column .sanus-footer-item{
    margin-top: 10px;
}

.sanus-footer-logo-column p{
    font-size: 18px;
    letter-spacing: 6px;
    margin-left: 10px;
}

.sanus-footer-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.sanus-footer-item {
    display: flex;
    gap: 12px;
    font-family: var(--font-body);
    color: #444;
}

.sanus-footer-map-address{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    color: var(--color-bg);
    gap: 5px;
}

.sanus-footer-horaire{
    display: flex;
    gap: 5px;
    flex-direction: column;
}



.sanus-location-images {
    position: relative;
    height: 390px;
    width: 735px;
    display: none;
}

.sanus-location-image-1{
    position: absolute;
    top: 20%;
    right: 351px;
    height: 227px;
    width: 351px;
    box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.319913);
    border-radius: 3px 25px;
    object-fit: cover;
    z-index: 2;
}

.sanus-location-image-2{
    position: absolute;
    top: 30px;
    right: 100px;
    height: 152px;
    width: 235px;
    box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.319913);
    border-radius: 3px 25px;
    object-fit: cover;
    z-index: 2;
}

.sanus-location-image-3{
    position: absolute;
    bottom: 0px;
    right: 30px;
    height: 183px;
    width: 285px;
    box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.319913);
    border-radius: 3px 25px;
    object-fit: cover;
    z-index: 2;
}

.sanus-location-image-4{
    position: absolute;
    bottom: -105px;
    right: 0px;
    height: 253px;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.sanus-footer-separator{
    width: 100%;
    content: "";
    background: var(--color-bg);
    height: 2px;
    margin-bottom: 10px;
}

.sanus-footer-more-info{
    display: flex;
    justify-content: space-between;
}

.sanus-footer-more-info p,
.sanus-footer-more-info a{
    font-size: 18px;
    color: var(--color-bg);
}

.sanus-footer-wave{
    background: transparent;
}

@media (max-width: 1200px){
    .sanus-footer-container {
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Responsivo */
@media (max-width: 768px) {
  .sanus-location-grid {
    grid-template-columns: 1fr;
  }

  .sanus-footer-2{
    margin-top: -8px;
  }

  .sanus-location-map {
    height: 300px;
  }

  .sanus-footer-columns {
    flex-direction: column;
  }
  .sanus-footer-info {
    width: auto;
  }
  .sanus-footer-container {
    padding: 40px 20px;
  }
  .sanus-footer-columns {
    gap: 20px;
  }
  .sanus-footer-more-info {
    flex-direction: column;
    gap: 20px;
  }
  .sanus-footer-policies{
    padding: 0 20px 40px;
  }
}