.sanus-recrutamento {
    background: #fff;
    position: relative;    
    margin-top: -220px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.sanus-recrutamento-2{
    margin-top: -1px;
    background-color: var(--color-header);
    overflow: hidden;
}   

.sanus-recrutamento-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: space-between;
    display: flex;
    gap: 60px;
    padding-bottom: 80px;
    text-align: start;
    position: relative;
}

.sanus-recrutamento-text-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 80px;
}

.sanus-recrutamento-text-column .btn{
    width: fit-content;
}

.sanus-recrutamento-img-column {
    width: 70%;
    aspect-ratio: 2 / 1; /* quase a altura do ecrã */
    background: url('/public/Images/image.png') center/cover no-repeat;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    bottom: 40px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 3px 20px;
    position: relative;
}

.sanus-recrutamento-img-column::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-image);
}

@media (max-width: 550px) {
    .sanus-recrutamento {    
        margin-top: -60px;
        gap: 0;
    }
    .sanus-recrutamento-container{
        padding: 40px 20px;
        flex-direction: column;
    }
    .sanus-recrutamento-text-column{
        padding-bottom: 0;
    }
    .sanus-recrutamento-img-column {
        width: 100%;
    }
    .sanus-recrutamento-text-column .btn{
        width: 100%;
        text-align: center;
    }
    .sanus-recrutamento .sanus-pattern {
        height: 50%;
        width: 90%;
        -webkit-mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-repeat: no-repeat;
        mask-size: cover;
    }
}