.sanus-recrutamento-page-benefits-wave{
    position: relative;
    width: 100%;
}

.sanus-recrutamento-page-benefits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -250px;
  z-index: 10;
}

.sanus-recrutamento-page-benefits-container {
    background-color: var(--color-primary-alt);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.sanus-recrutamento-page-benefits-container .sanus-services-container {
    grid-template-columns: repeat(3, 1fr);
}

/* RESPONSIVE */
@media (max-width: 1700px) {
    .sanus-recrutamento-page-benefits {
        margin-top: -200px;
    }
}

@media (max-width: 1250px) {
    .sanus-recrutamento-page-benefits {
        margin-top: -100px;
    }
}


@media (max-width: 1100px) {
  .sanus-recrutamento-page-benefits-sub-container {
    padding: 0 20px;
  }
}

@media (max-width: 950px) {
  .sanus-recrutamento-page-benefits-container .sanus-services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .sanus-recrutamento-page-benefits-container .sanus-services-container {
    grid-template-columns: 1fr;
  }
  .sanus-recrutamento-page-benefits {
    margin-top: -50px;
  }
}