.sanus-page-hero-generic {
  margin-top: -114px;
  position: relative;
  height: 460px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.sanus-page-hero-generic::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,32,40,0.8), rgba(0,0,0,0.25));
  z-index: 1;
}

.sanus-page-hero-overlay {
  position: absolute;
  width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    max-width: 680px;
    padding: 0 16px;
}

.sanus-page-hero-overlay h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-bg);
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.sanus-page-hero-overlay p {
  margin-top: 10px;
  font-size: 1.4rem;
  opacity: 0.85;
}

.sanus-page-hero-wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1500px) {
  .sanus-page-hero-overlay h1 {
      font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .sanus-page-hero-overlay h1 {
      font-size: 2.5rem;
  }
  .sanus-page-hero-overlay{
      top: 60%;
  }
  .sanus-page-hero-generic {
    height: 400px;
  }
}